<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CDatos.Properties.Settings.ClinicaGPVConnectionString"
            connectionString="Data Source=KEVIN-SISA-17;Initial Catalog=ClinicaGPV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>